button {
    color:black;
    background: white;
    margin: 10px;
    padding:20px;
    border: 2px solid wheat;
    width: 18%;
    font-weight: bold;
    font-size: 12px;
}

button:hover{
    background-color:palegreen;
    cursor: pointer;
    border:2px solid black
}

button.disabled{
  border: 1px solid #999999;
  background: #cccccc !important;
  color: #666666;
  cursor: context-menu;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto';
  }